<div class="content">
    <div class="left">
        <div class="card p-0">
            <app-calendar></app-calendar>
        </div>
        <div class="filterBox">
            <div class="card">
                <app-type-filter></app-type-filter>
            </div>
            <div class="card">
                <app-status-filter></app-status-filter>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="card">
            <app-serch-filter></app-serch-filter>
        </div>
        <div class="card">
            <app-event-list></app-event-list>
        </div>
    </div>
</div>

<!-- <div class="p-8 flex">
    <div class="h-12 w-12 bg-gray-400 rounded-full border-2 border-white"></div>
    <div class="h-12 w-12 bg-gray-400 rounded-full border-2 border-white -ml-3"></div>
    <div class="h-12 w-12 bg-gray-400 rounded-full border-2 border-white -ml-3"></div>
    <div class="h-12 w-12 bg-gray-400 rounded-full border-2 border-white -ml-3"></div>
  </div> -->